body {
    margin: 0;
    color: blue;
}
 
.header {
    width: 100%;
    height: 80px;
    background-color: #f8ecec;
}
 
.header__img {
    width: 100px;
}
 
.main {
    height: 300 px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
 
.main__title {
    color: #14213d;
    font-size: 30px;
}

.rounded {
    
    border-radius:.80rem!important;

  }

.justify {
    margin: 0;
    text-indent: 0;
    text-align: justify;
  }

  .container-min-widths {
    width: 640px;
  }